{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Search{% endblock %}
{% block navbar-left %}
    {% include "_navbar.html" with active_link="search:tag_search" %}
{% endblock %}

{% block container %}
    <form type="GET" action="{% url 'search:results' %}" >
        <div class="container container-size navbarpadding" id="search-form">
            <div class="input-group col-md-6 col-md-offset-3">
                <input type="text" class="search-query form-control" id="search-bar" placeholder="Search"/>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button"><span
                            class=" glyphicon glyphicon-search"></span></button>
                </span>
            </div>
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="center-block" id="cloud" style="width: 100%; height: 72vh"></div>
                </div>
            </div>
        </div>
        <button type="submit" class="navigation navigation-right" id="submit" style="text-decoration : none; outline-width: 0;">
            <i class="fa fa-angle-double-right"></i>
        </button>
        <input type="hidden" id="query" name="q" value="" />
    </form>
{% endblock container %}
{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'site/css/jqcloud.css' %}"/>
    <script type="text/javascript" src="{% static 'site/js/jqcloud-1.0.4.js' %}"></script>
    <script type="text/javascript">
        var word_array = [
            {text: "addictive",         weight: 9,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "0"}},
            {text: "amazing",           weight: 9,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "1"}},
            {text: "american",          weight: 8,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "2"}},
            {text: "animal",            weight: 5,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "3"}},
            {text: "artificial",        weight: 9,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "4"}},
            {text: "asian",             weight: 6,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "5"}},
            {text: "assorted",          weight: 5,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "6"}},
            {text: "attractive",         weight: 4,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "7"}},
            {text: "authentic", weight: 6,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "8"}},
            {text: "awesome",           weight: 9,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "9"}},
            {text: "awful",         weight: 8,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "10"}},
            {text: "bad",       weight: 10, handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "11"}},
            {text: "baked",         weight: 6,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "12"}},
            {text: "banana",        weight: 6,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "13"}},
            {text: "basic",         weight: 5,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "14"}},
            {text: "bean",  weight: 4,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "15"}},
            {text: "beautiful",         weight: 6,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "16"}},
            {text: "belgian",   weight: 1,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "17"}},
            {text: "best",          weight: 2,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "18"}},
            {text: "big",       weight: 10, handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "19"}},
            {text: "bitter",        weight: 7,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "20"}},
            {text: "black",     weight: 9,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "21"}},
            {text: "blue",      weight: 8,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "22"}},
            {text: "bold",      weight: 2,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "23"}},
            {text: "boxed",         weight: 1,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "24"}},
            {text: "bright",        weight: 5,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "25"}},
            {text: "british",           weight: 5,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "26"}},
            {text: "brittle",           weight: 4,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "27"}},
            {text: "brown",         weight: 7,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "28"}},
            {text: "bubble",            weight: 9,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "29"}},
            {text: "burnt",     weight: 1,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "30"}},
            {text: "cake",          weight: 3,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "31"}},
            {text: "candy",     weight: 6,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "32"}},
            {text: "canned",        weight: 1,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "33"}},
            {text: "chalky",            weight: 1,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "34"}},
            {text: "cheap",     weight: 8,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "35"}},
            {text: "cheese",            weight: 9,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "36"}},
            {text: "chemical",          weight: 3,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "37"}},
            {text: "cherry",            weight: 5,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "38"}},
            {text: "chewy",     weight: 9,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "39"}},
            {text: "chinese",       weight: 4,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "40"}},
            {text: "chocolate",     weight: 9,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "41"}},
            {text: "chocolatey",        weight: 1,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "42"}},
            {text: "cinnamon",          weight: 6,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "43"}},
            {text: "classic",           weight: 7,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "44"}},
            {text: "coconut",       weight: 3,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "45"}},
            {text: "cold",          weight: 8,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "46"}},
            {text: "convenient",        weight: 8,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "47"}},
            {text: "conventional",          weight: 1,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "48"}},
            {text: "cooked",        weight: 2,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "49"}},
            {text: "cookie",            weight: 3,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "50"}},
            {text: "cool",      weight: 7,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "51"}},
            {text: "crappy",        weight: 1,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "52"}},
            {text: "crazy",         weight: 7,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "53"}},
            {text: "creamy",        weight: 9,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "54"}},
            {text: "crisp",         weight: 7,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "55"}},
            {text: "crispy",        weight: 7,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "56"}},
            {text: "crunchy",           weight: 9,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "57"}},
            {text: "crushed",           weight: 3,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "58"}},
            {text: "cute",          weight: 8,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "59"}},
            {text: "dairy",         weight: 4,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "60"}},
            {text: "dangerous",     weight: 2,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "61"}},
            {text: "dark",          weight: 9,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "62"}},
            {text: "delectable",        weight: 3,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "63"}},
            {text: "delicious",     weight: 10, handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "64"}},
            {text: "delightful",        weight: 6,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "65"}},
            {text: "delish",        weight: 2,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "66"}},
            {text: "dense", weight: 3,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "67"}},
            {text: "dessert",           weight: 1,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "68"}},
            {text: "diabetic",      weight: 8,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "69"}},
            {text: "diet",      weight: 8,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "70"}},
            {text: "dietary",           weight: 3,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "71"}},
            {text: "divine",        weight: 1,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "72"}},
            {text: "dried",         weight: 9,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "73"}},
            {text: "dry",   weight: 10, handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "74"}},
            {text: "economical",        weight: 3,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "75"}},
            {text: "elementary",        weight: 2,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "76"}},
            {text: "english",           weight: 5,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "77"}},
            {text: "enjoyable",     weight: 5,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "78"}},
            {text: "european",      weight: 4,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "79"}},
            {text: "excellent",     weight: 10, handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "80"}},
            {text: "exceptional",           weight: 2,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "81"}},
            {text: "excessive",         weight: 2,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "82"}},
            {text: "expensive",     weight: 10, handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "83"}},
            {text: "expired",       weight: 3,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "84"}},
            {text: "extreme",           weight: 2,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "85"}},
            {text: "fabulous",          weight: 7,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "86"}},
            {text: "fake",      weight: 5,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "87"}},
            {text: "false",     weight: 2,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "88"}},
            {text: "famous",            weight: 4,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "89"}},
            {text: "fancy",         weight: 1,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "90"}},
            {text: "fantastic",     weight: 9,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "91"}},
            {text: "fast",      weight: 8,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "92"}},
            {text: "fat",       weight: 9,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "93"}},
            {text: "fatty",         weight: 2,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "94"}},
            {text: "fiber",     weight: 1,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "95"}},
            {text: "fig",       weight: 2,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "96"}},
            {text: "filling",           weight: 7,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "97"}},
            {text: "firm",          weight: 2,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "98"}},
            {text: "fish",  weight: 4,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "99"}},
            {text: "flaky",     weight: 1,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "100"}},
            {text: "flat",  weight: 6,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "101"}},
            {text: "flavored",      weight: 8,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "102"}},
            {text: "flavorful",         weight: 9,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "103"}},
            {text: "flavorless",            weight: 1,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "104"}},
            {text: "fluffy",        weight: 2,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "105"}},
            {text: "fragile",           weight: 1,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "106"}},
            {text: "french",        weight: 6,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "107"}},
            {text: "fresh",         weight: 10, handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "108"}},
            {text: "fried",         weight: 1,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "109"}},
            {text: "frozen",        weight: 6,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "110"}},
            {text: "fruit",     weight: 3,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "111"}},
            {text: "garlic",        weight: 7,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "112"}},
            {text: "generic",           weight: 3,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "113"}},
            {text: "genuine",           weight: 1,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "114"}},
            {text: "german",        weight: 5,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "115"}},
            {text: "giant", weight: 6,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "116"}},
            {text: "gluten",        weight: 10, handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "117"}},
            {text: "golden",            weight: 4,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "118"}},
            {text: "gooey",         weight: 1,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "119"}},
            {text: "gourmet",       weight: 3,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "120"}},
            {text: "graham",            weight: 4,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "121"}},
            {text: "grainy",        weight: 3,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "122"}},
            {text: "grand",         weight: 4,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "123"}},
            {text: "granola",           weight: 5,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "124"}},
            {text: "greasy",        weight: 7,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "125"}},
            {text: "green",         weight: 9,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "126"}},
            {text: "gritty",            weight: 1,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "127"}},
            {text: "gross",         weight: 6,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "128"}},
            {text: "gum",           weight: 7,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "129"}},
            {text: "gumball",       weight: 2,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "130"}},
            {text: "gummi",     weight: 6,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "131"}},
            {text: "gummy",         weight: 9,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "132"}},
            {text: "hard",          weight: 10, handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "133"}},
            {text: "healthful", weight: 3,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "134"}},
            {text: "healthy",   weight: 10, handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "135"}},
            {text: "hearty",        weight: 2,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "136"}},
            {text: "heavy",     weight: 8,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "137"}},
            {text: "homemade",          weight: 3,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "138"}},
            {text: "horrible",      weight: 8,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "139"}},
            {text: "hot",   weight: 10, handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "140"}},
            {text: "huge",      weight: 9,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "141"}},
            {text: "instant",           weight: 7,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "142"}},
            {text: "intense",           weight: 6,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "143"}},
            {text: "italian",       weight: 7,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "144"}},
            {text: "japanese",          weight: 7,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "145"}},
            {text: "jerky", weight: 4,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "146"}},
            {text: "large",         weight: 10, handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "147"}},
            {text: "lemon",         weight: 8,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "148"}},
            {text: "licorice",      weight: 4,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "149"}},
            {text: "light",     weight: 9,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "150"}},
            {text: "lime",          weight: 2,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "151"}},
            {text: "little",            weight: 10, handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "152"}},
            {text: "local",         weight: 10, handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "153"}},
            {text: "long",  weight: 10, handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "154"}},
            {text: "lovely",         weight: 4,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "155"}},
            {text: "luscious",          weight: 1,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "156"}},
            {text: "maple",         weight: 4,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "157"}},
            {text: "marshmallow",           weight: 6,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "158"}},
            {text: "melted",         weight: 5,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "159"}},
            {text: "messy",         weight: 5,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "160"}},
            {text: "mild",          weight: 8,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "161"}},
            {text: "mini",          weight: 2,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "162"}},
            {text: "minimal",       weight: 3,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "163"}},
            {text: "mixed",         weight: 8,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "164"}},
            {text: "moist",         weight: 7,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "165"}},
            {text: "multi",     weight: 2,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "166"}},
            {text: "mushy",     weight: 1,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "167"}},
            {text: "nacho",         weight: 1,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "168"}},
            {text: "nasty",         weight: 8,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "169"}},
            {text: "natural",       weight: 10, handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "170"}},
            {text: "nice",      weight: 10, handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "171"}},
            {text: "nostalgic",         weight: 2,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "172"}},
            {text: "nutritious",            weight: 7,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "173"}},
            {text: "nutty",         weight: 5,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "174"}},
            {text: "oatmeal",       weight: 8,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "175"}},
            {text: "odd",       weight: 6,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "176"}},            
            {text: "old",       weight: 10, handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "177"}},
            {text: "olive",         weight: 7,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "178"}},
            {text: "ordinary",          weight: 2,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "179"}},
            {text: "organic",           weight: 10, handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "180"}},
            {text: "original",      weight: 9,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "181"}},
            {text: "outrageous",            weight: 5,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "182"}},
            {text: "outstanding",   weight: 6,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "183"}},            
            {text: "overseas",          weight: 2,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "184"}},
            {text: "packaged",      weight: 2,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "185"}},
            {text: "packed",        weight: 3,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "186"}},
            {text: "peanut",        weight: 7,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "187"}},            
            {text: "pecan",         weight: 3,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "188"}},
            {text: "peppered",          weight: 3,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "189"}},
            {text: "perfect",   weight: 10, handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "190"}},
            {text: "pita",      weight: 6,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "191"}},
            {text: "plain",     weight: 6,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "192"}},
            {text: "pleasant",          weight: 7,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "193"}},
            {text: "popcorn",       weight: 4,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "194"}},
            {text: "popular",           weight: 7,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "195"}},
            {text: "portable",      weight: 3,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "196"}},
            {text: "potato",            weight: 6,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "197"}},
            {text: "powdered",          weight: 5,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "198"}},
            {text: "powerful",      weight: 1,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "199"}},
            {text: "premium",           weight: 5,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "200"}},            
            {text: "pretty",        weight: 8,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "201"}},
            {text: "processed",         weight: 3,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "202"}},
            {text: "protein",           weight: 4,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "203"}},
            {text: "pumpkin",           weight: 4,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "204"}},
            {text: "pure",          weight: 5,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "205"}},
            {text: "quick",         weight: 10, handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "206"}},
            {text: "rancid",        weight: 3,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "207"}},
            {text: "rare",  weight: 4,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "208"}},
            {text: "raw",           weight: 7,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "209"}},
            {text: "real",      weight: 10, handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "210"}},
            {text: "red",       weight: 9,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "211"}},
            {text: "refined",       weight: 2,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "212"}},
            {text: "refreshing",            weight: 2,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "213"}},
            {text: "resealable",            weight: 4,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "214"}},
            {text: "rice",          weight: 1,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "215"}},
            {text: "rich",          weight: 9,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "216"}},
            {text: "ridiculous",    weight: 6,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "217"}},
            {text: "roasted",       weight: 3,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "218"}},
            {text: "rosemary",      weight: 1,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "219"}},
            {text: "salad",         weight: 3,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "220"}},
            {text: "salt",      weight: 5,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "221"}},
            {text: "salted",            weight: 3,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "222"}},
            {text: "salty", weight: 8,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "223"}},
            {text: "satisfying",            weight: 7,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "224"}},
            {text: "saturated",     weight: 1,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "225"}},
            {text: "savory",            weight: 2,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "226"}},
            {text: "scrumptious",           weight: 2,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "227"}},
            {text: "sealed",        weight: 4,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "228"}},
            {text: "seasonal",          weight: 4,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "229"}},
            {text: "seasoned",          weight: 1,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "230"}},
            {text: "sesame",            weight: 1,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "231"}},
            {text: "short", weight: 8,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "232"}},
            {text: "shortbread",            weight: 4,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "233"}},
            {text: "sick",          weight: 6,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "234"}},
            {text: "simple",        weight: 8,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "235"}},
            {text: "slim",  weight: 4,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "236"}},
            {text: "small",     weight: 10, handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "237"}},
            {text: "smoked",            weight: 2,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "238"}},
            {text: "smooth",        weight: 8,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "239"}},
            {text: "sodium",        weight: 2,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "240"}},
            {text: "soft",  weight: 10, handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "241"}},
            {text: "soggy",         weight: 5,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "242"}},
            {text: "solid",         weight: 5,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "243"}},
            {text: "sour",      weight: 10, handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "244"}},
            {text: "soy",           weight: 7,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "245"}},
            {text: "special",       weight: 9,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "246"}},
            {text: "spicy",     weight: 6,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "247"}},
            {text: "stale",         weight: 10, handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "248"}},
            {text: "sticky",        weight: 8,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "249"}},
            {text: "strange",       weight: 7,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "250"}},
            {text: "strawberry",            weight: 7,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "251"}},
            {text: "strong",            weight: 9,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "252"}},
            {text: "sturdy",        weight: 5,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "253"}},
            {text: "sugar",         weight: 9,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "254"}},
            {text: "sugarless",     weight: 4,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "255"}},
            {text: "sugary",            weight: 8,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "256"}},
            {text: "super",     weight: 9,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "257"}},
            {text: "superb",        weight: 3,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "258"}},
            {text: "swedish",           weight: 4,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "259"}},
            {text: "sweet",     weight: 10, handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "260"}},
            {text: "swiss",          weight: 4,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "261"}},
            {text: "tangy",         weight: 3,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "262"}},
            {text: "tart",          weight: 5,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "263"}},
            {text: "tasteless",         weight: 6,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "264"}},
            {text: "tasty",     weight: 10, handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "265"}},
            {text: "terrible",          weight: 8,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "266"}},
            {text: "terrific",      weight: 7,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "267"}},
            {text: "thick",         weight: 8,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "268"}},
            {text: "thin",          weight: 9,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "269"}},
            {text: "tiny",  weight: 9,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "270"}},
            {text: "toasted",       weight: 2,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "271"}},
            {text: "tough",     weight: 8,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "272"}},
            {text: "traditional",           weight: 8,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "273"}},
            {text: "tropical",      weight: 5,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "274"}},
            {text: "truffle",       weight: 7,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "275"}},
            {text: "turkish",       weight: 6,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "276"}},
            {text: "unhealthy",         weight: 5,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "277"}},
            {text: "unique",    weight: 8,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "278"}},
            {text: "unpleasant",            weight: 6,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "279"}},
            {text: "unsalted",          weight: 5,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "280"}},
            {text: "unsweetened",           weight: 3,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "281"}},
            {text: "vegan",     weight: 7,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "282"}},
            {text: "vegetable",         weight: 5,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "283"}},
            {text: "vegetarian",        weight: 4,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "284"}},
            {text: "warm",      weight: 7,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "285"}},
            {text: "wasabi",    weight: 3,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "286"}},
            {text: "waxy",      weight: 1,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "287"}},
            {text: "weak",          weight: 5,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "288"}},
            {text: "weird",     weight: 6,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "289"}},
            {text: "wheat",     weight: 5,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "290"}},
            {text: "white",     weight: 10, handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "291"}},
            {text: "wholesome",     weight: 4,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "292"}},
            {text: "wide",          weight: 4,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "293"}},
            {text: "wild",          weight: 6,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "294"}},
            {text: "wonderful", weight: 10, handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "295"}},
            {text: "wrapped",       weight: 5,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "296"}},
            {text: "yellow",            weight: 6,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "297"}},
            {text: "yucky",     weight: 1,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "298"}},
            {text: "yummy",         weight: 9,  handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "299"}},
        ];

        $(function () {
            $("#cloud").jQCloud(word_array, {removeOverflowing: false});
        });

        var request = $.ajax({
            url: "script.php",
            type: "POST",
            data: {id: menuId},
            dataType: "html"
        });

    </script>
    <script src="{% static 'site/js/wordcloud.js' %}"></script>
{% endblock scripts %}
