{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Search{% endblock %}
{% block navbar-left %}
    {% include "_navbar.html" with active_link="search:tag_search" %}
{% endblock %}

{% block container %}
    <form type="GET" action="{% url 'search:results' %}" >
        <div class="container container-size navbarpadding" id="search-form">
            <div class="input-group col-md-6 col-md-offset-3">
                <input type="text" class="search-query form-control" id="search-bar" placeholder="Search"/>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button"><span
                            class=" glyphicon glyphicon-search"></span></button>
                </span>
            </div>
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="center-block" id="cloud" style="width: 100%; height: 72vh"></div>
                </div>
            </div>
        </div>
        <button type="submit" class="navigation navigation-right" id="submit" style="text-decoration : none; outline-width: 0;">
            <i class="fa fa-angle-double-right"></i>
        </button>
        <input type="hidden" id="query" name="q" value="" />
    </form>
{% endblock container %}
{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'site/css/jqcloud.css' %}"/>
    <script type="text/javascript" src="{% static 'site/js/jqcloud-1.0.4.js' %}"></script>
    <script type="text/javascript">
        var word_array = [
            {text: "able",			weight: 9,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "0"}},
            {text: "actual",		weight: 6,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "1"}},
            {text: "added",			weight: 6,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "2"}},
            {text: "addictive",		weight: 8,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "3"}},
            {text: "all",			weight: 2,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "4"}},
            {text: "allergic",		weight: 5,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "5"}},
            {text: "alternative",	weight: 8,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "6"}},
            {text: "amazing",		weight: 7,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "7"}},
            {text: "american",		weight: 3,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "8"}},
            {text: "artificial",	weight: 7,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "9"}},
            {text: "ask",			weight: 10,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "10"}},
            {text: "aspect",		weight: 10,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "11"}},
            {text: "assertive",		weight: 10,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "12"}},
            {text: "assisted",		weight: 10,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "13"}},
            {text: "associated",	weight: 9,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "14"}},
            {text: "assorted",		weight: 9,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "15"}},
            {text: "assortment",	weight: 9,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "16"}},
            {text: "asthma",		weight: 9,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "17"}},
            {text: "astonishing",	weight: 9,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "18"}},
            {text: "astounding",	weight: 9,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "19"}},
            {text: "astronaut",		weight: 9,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "20"}},
            {text: "ate",			weight: 8,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "21"}},
            {text: "athe",			weight: 8,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "22"}},
            {text: "athletes",		weight: 8,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "23"}},
            {text: "atl",			weight: 7,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "24"}},
            {text: "atlantic",		weight: 7,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "25"}},
            {text: "atmospheric",	weight: 7,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "26"}},
            {text: "atop",			weight: 6,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "27"}},
            {text: "atrocious",		weight: 6,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "28"}},
            {text: "attempted",		weight: 5,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "29"}},
            {text: "available",		weight: 9,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "30"}},
            {text: "average",		weight: 2,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "31"}},
            {text: "awesome",		weight: 8,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "32"}},
            {text: "awful",			weight: 6,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "33"}},
            {text: "bad",			weight: 10,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "34"}},
            {text: "bagel",			weight: 3,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "35"}},
            {text: "baked",			weight: 1,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "36"}},
            {text: "banana",		weight: 7,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "37"}},
            {text: "bean",			weight: 5,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "38"}},
            {text: "big",			weight: 10,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "39"}},
            {text: "bitter",		weight: 3,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "40"}},
            {text: "black",			weight: 6,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "41"}},
            {text: "blue",			weight: 7,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "42"}},
            {text: "broken",		weight: 8,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "43"}},
            {text: "brown",			weight: 5,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "44"}},
            {text: "bubble",		weight: 1,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "45"}},
            {text: "careful",		weight: 6,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "46"}},
            {text: "cheap",			weight: 4,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "47"}},
            {text: "cheese",		weight: 1,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "48"}},
            {text: "cinnamon",		weight: 6,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "49"}},
            {text: "classic",		weight: 2,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "50"}},
            {text: "clear",			weight: 2,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "51"}},
            {text: "close",			weight: 5,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "52"}},
            {text: "coconut",		weight: 5,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "53"}},
            {text: "convenient",	weight: 4,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "54"}},
            {text: "cooked",		weight: 3,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "55"}},
            {text: "cool",			weight: 2,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "56"}},
            {text: "crazy",			weight: 5,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "57"}},
            {text: "creamy",		weight: 1,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "58"}},
            {text: "crisp",			weight: 7,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "59"}},
            {text: "crispy",		weight: 1,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "60"}},
            {text: "crumbs",		weight: 1,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "61"}},
            {text: "crunchy",		weight: 1,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "62"}},
            {text: "crushed",		weight: 3,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "63"}},
            {text: "daily",			weight: 5,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "64"}},
            {text: "dark",			weight: 4,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "65"}},
            {text: "decent",		weight: 7,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "66"}},
            {text: "deep",			weight: 2,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "67"}},
            {text: "delicious",		weight: 10,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "68"}},
            {text: "delightful",	weight: 2,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "69"}},
            {text: "diet",			weight: 7,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "70"}},
            {text: "different",		weight: 10,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "71"}},
            {text: "difficult",		weight: 7,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "72"}},
            {text: "disappointed",	weight: 9,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "73"}},
            {text: "disappointing",	weight: 1,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "74"}},
            {text: "double",		weight: 4,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "75"}},
            {text: "dried",			weight: 7,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "76"}},
            {text: "dry",			weight: 1,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "77"}},
            {text: "due",			weight: 7,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "78"}},
            {text: "easy",			weight: 8,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "79"}},
            {text: "edible",		weight: 2,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "80"}},
            {text: "empty",			weight: 5,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "81"}},
            {text: "enjoyable",		weight: 2,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "82"}},
            {text: "enough",		weight: 7,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "83"}},
            {text: "entire",		weight: 8,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "84"}},
            {text: "exact",			weight: 1,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "85"}},
            {text: "excellent",		weight: 9,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "86"}},
            {text: "excited",		weight: 6,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "87"}},
            {text: "expensive",		weight: 9,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "88"}},
            {text: "extra",			weight: 7,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "89"}},
            {text: "fabulous",		weight: 5,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "90"}},
            {text: "fair",			weight: 3,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "91"}},
            {text: "fantastic",		weight: 8,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "92"}},
            {text: "fast",			weight: 5,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "93"}},
            {text: "fat",			weight: 9,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "94"}},
            {text: "favorite",		weight: 10,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "95"}},
            {text: "few",			weight: 10,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "96"}},
            {text: "filling",		weight: 2,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "97"}},
            {text: "fine",			weight: 8,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "98"}},
            {text: "first",			weight: 10,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "99"}},
            {text: "flat",			weight: 5,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "100"}},
            {text: "flavored",		weight: 6,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "101"}},
            {text: "flavorful",		weight: 9,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "102"}},
            {text: "free",			weight: 10,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "103"}},
            {text: "french",		weight: 3,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "104"}},
            {text: "fresh",			weight: 1,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "105"}},
            {text: "fried",			weight: 5,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "106"}},
            {text: "full",			weight: 9,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "107"}},
            {text: "garlic",		weight: 1,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "108"}},
            {text: "general",		weight: 3,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "109"}},
            {text: "glad",			weight: 9,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "110"}},
            {text: "gluten",		weight: 9,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "111"}},
            {text: "gmo",			weight: 5,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "112"}},
            {text: "good",			weight: 10,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "113"}},
            {text: "greasy",		weight: 1,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "114"}},
            {text: "great",			weight: 10,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "115"}},
            {text: "green",			weight: 7,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "116"}},
            {text: "gross",			weight: 4,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "117"}},
            {text: "guilt",			weight: 4,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "118"}},
            {text: "guilty",		weight: 7,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "119"}},
            {text: "half",			weight: 3,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "120"}},
            {text: "handy",			weight: 2,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "121"}},
            {text: "happy",			weight: 9,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "122"}},
            {text: "hard",			weight: 10,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "123"}},
            {text: "healthy",		weight: 1,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "124"}},
            {text: "heavy",			weight: 6,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "125"}},
            {text: "helpful",		weight: 1,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "126"}},
            {text: "high",			weight: 9,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "127"}},
            {text: "hooked",		weight: 4,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "128"}},
            {text: "horrible",		weight: 7,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "129"}},
            {text: "hot",			weight: 1,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "130"}},
            {text: "huge",			weight: 7,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "131"}},
            {text: "hummus",		weight: 4,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "132"}},
            {text: "hungry",		weight: 4,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "133"}},
            {text: "important",		weight: 2,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "134"}},
            {text: "impossible",	weight: 3,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "135"}},
            {text: "impressed",		weight: 5,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "136"}},
            {text: "incredible",	weight: 4,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "137"}},
            {text: "individual",	weight: 7,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "138"}},
            {text: "inedible",		weight: 2,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "139"}},
            {text: "ingredient",	weight: 3,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "140"}},
            {text: "intact",		weight: 6,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "141"}},
            {text: "intense",		weight: 3,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "142"}},
            {text: "interested",	weight: 1,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "143"}},
            {text: "jalapeno",		weight: 2,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "144"}},
            {text: "kale",			weight: 7,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "145"}},
            {text: "kettle",		weight: 6,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "146"}},
            {text: "large",			weight: 9,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "147"}},
            {text: "last",			weight: 9,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "148"}},
            {text: "late",			weight: 4,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "149"}},
            {text: "light",			weight: 9,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "150"}},
            {text: "like",			weight: 6,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "151"}},
            {text: "likely",		weight: 1,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "152"}},
            {text: "lime",			weight: 5,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "153"}},
            {text: "limited",		weight: 3,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "154"}},
            {text: "little",		weight: 10,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "155"}},
            {text: "local",			weight: 10,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "156"}},
            {text: "long",			weight: 9,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "157"}},
            {text: "low",			weight: 10,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "158"}},
            {text: "main",			weight: 4,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "159"}},
            {text: "major",			weight: 3,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "160"}},
            {text: "many",			weight: 10,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "161"}},
            {text: "mexican",		weight: 3,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "162"}},
            {text: "mild",			weight: 1,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "163"}},
            {text: "minimal",		weight: 1,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "164"}},
            {text: "mixed",			weight: 4,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "165"}},
            {text: "much",			weight: 10,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "166"}},
            {text: "multi",			weight: 2,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "167"}},
            {text: "multiple",		weight: 2,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "168"}},
            {text: "nacho",			weight: 1,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "169"}},
            {text: "nasty",			weight: 4,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "170"}},
            {text: "natural",		weight: 1,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "171"}},
            {text: "negative",		weight: 4,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "172"}},
            {text: "new",			weight: 9,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "173"}},
            {text: "next",			weight: 8,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "174"}},
            {text: "nice",			weight: 10,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "175"}},
            {text: "no",			weight: 2,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "176"}},
            {text: "non",			weight: 8,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "177"}},
            {text: "normal",		weight: 5,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "178"}},
            {text: "nutritional",	weight: 6,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "179"}},
            {text: "nutritious",	weight: 3,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "180"}},
            {text: "nutty",			weight: 2,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "181"}},
            {text: "odd",			weight: 3,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "182"}},
            {text: "ok",			weight: 8,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "183"}},
            {text: "okay",			weight: 4,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "184"}},
            {text: "old",			weight: 9,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "185"}},
            {text: "olive",			weight: 6,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "186"}},
            {text: "on",			weight: 4,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "187"}},
            {text: "online",		weight: 3,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "188"}},
            {text: "only",			weight: 10,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "189"}},
            {text: "open",			weight: 8,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "190"}},
            {text: "organic",		weight: 1,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "191"}},
            {text: "original",		weight: 8,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "192"}},
            {text: "other",			weight: 10,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "193"}},
            {text: "ounce",			weight: 4,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "194"}},
            {text: "outrageous",	weight: 2,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "195"}},
            {text: "outstanding",	weight: 2,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "196"}},
            {text: "overall",		weight: 6,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "197"}},
            {text: "overwhelming",	weight: 3,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "198"}},
            {text: "own",			weight: 8,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "199"}},
            {text: "oz",			weight: 5,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "200"}},
            {text: "particular",	weight: 6,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "201"}},
            {text: "past",			weight: 5,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "202"}},
            {text: "perfect",		weight: 10,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "203"}},
            {text: "personal",		weight: 3,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "204"}},
            {text: "picky",			weight: 3,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "205"}},
            {text: "pita",			weight: 8,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "206"}},
            {text: "plain",			weight: 2,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "207"}},
            {text: "pleasant",		weight: 3,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "208"}},
            {text: "pleased",		weight: 7,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "209"}},
            {text: "plus",			weight: 3,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "210"}},
            {text: "poor",			weight: 4,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "211"}},
            {text: "popcorn",		weight: 6,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "212"}},
            {text: "popular",		weight: 3,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "213"}},
            {text: "positive",		weight: 3,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "214"}},
            {text: "possible",		weight: 5,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "215"}},
            {text: "potato",		weight: 9,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "216"}},
            {text: "pretty",		weight: 6,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "217"}},
            {text: "previous",		weight: 4,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "218"}},
            {text: "pricey",		weight: 6,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "219"}},
            {text: "quick",			weight: 7,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "220"}},
            {text: "raw",			weight: 6,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "221"}},
            {text: "ready",			weight: 4,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "222"}},
            {text: "real",			weight: 9,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "223"}},
            {text: "reasonable",	weight: 7,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "224"}},
            {text: "red",			weight: 7,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "225"}},
            {text: "regular",		weight: 10,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "226"}},
            {text: "retail",		weight: 4,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "227"}},
            {text: "rich",			weight: 3,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "228"}},
            {text: "ridiculous",	weight: 5,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "229"}},
            {text: "right",			weight: 10,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "230"}},
            {text: "sad",			weight: 5,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "231"}},
            {text: "salsa",			weight: 2,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "232"}},
            {text: "salt",			weight: 6,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "233"}},
            {text: "salty",			weight: 1,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "234"}},
            {text: "same",			weight: 10,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "235"}},
            {text: "satisfied",		weight: 4,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "236"}},
            {text: "satisfying",	weight: 4,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "237"}},
            {text: "savory",		weight: 2,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "238"}},
            {text: "second",		weight: 8,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "239"}},
            {text: "several",		weight: 8,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "240"}},
            {text: "short",			weight: 4,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "241"}},
            {text: "shrimp",		weight: 3,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "242"}},
            {text: "similar",		weight: 8,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "243"}},
            {text: "simple",		weight: 6,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "244"}},
            {text: "single",		weight: 8,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "245"}},
            {text: "slight",		weight: 6,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "246"}},
            {text: "small",			weight: 10,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "247"}},
            {text: "snack",			weight: 4,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "248"}},
            {text: "sodium",		weight: 2,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "249"}},
            {text: "soft",			weight: 1,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "250"}},
            {text: "sorry",			weight: 3,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "251"}},
            {text: "sour",			weight: 1,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "252"}},
            {text: "special",		weight: 7,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "253"}},
            {text: "spicy",			weight: 1,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "254"}},
            {text: "stale",			weight: 9,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "255"}},
            {text: "standard",		weight: 5,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "256"}},
            {text: "strange",		weight: 4,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "257"}},
            {text: "strong",		weight: 8,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "258"}},
            {text: "sturdy",		weight: 2,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "259"}},
            {text: "subtle",		weight: 7,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "260"}},
            {text: "such",			weight: 8,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "261"}},
            {text: "sugar",			weight: 2,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "262"}},
            {text: "super",			weight: 8,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "263"}},
            {text: "sure",			weight: 9,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "264"}},
            {text: "surprised",		weight: 5,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "265"}},
            {text: "sweet",			weight: 1,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "266"}},
            {text: "tangy",			weight: 4,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "267"}},
            {text: "tasting",		weight: 2,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "268"}},
            {text: "tasty",			weight: 10,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "269"}},
            {text: "terrible",		weight: 6,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "270"}},
            {text: "thick",			weight: 1,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "271"}},
            {text: "thin",			weight: 8,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "272"}},
            {text: "third",			weight: 3,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "273"}},
            {text: "timely",		weight: 2,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "274"}},
            {text: "tiny",			weight: 6,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "275"}},
            {text: "top",			weight: 6,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "276"}},
            {text: "tortilla",		weight: 7,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "277"}},
            {text: "total",			weight: 5,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "278"}},
            {text: "traditional",	weight: 5,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "279"}},
            {text: "true",			weight: 7,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "280"}},
            {text: "typical",		weight: 2,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "281"}},
            {text: "unable",		weight: 5,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "282"}},
            {text: "unhealthy",		weight: 5,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "283"}},
            {text: "unique",		weight: 6,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "284"}},
            {text: "unsalted",		weight: 3,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "285"}},
            {text: "usual",			weight: 5,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "286"}},
            {text: "various",		weight: 4,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "287"}},
            {text: "vegan",			weight: 6,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "288"}},
            {text: "vegetable",		weight: 5,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "289"}},
            {text: "veggie",		weight: 1,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "290"}},
            {text: "vinegar",		weight: 2,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "291"}},
            {text: "weird",			weight: 4,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "292"}},
            {text: "white",			weight: 7,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "293"}},
            {text: "whole",			weight: 10,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "294"}},
            {text: "wish",			weight: 8,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "295"}},
            {text: "wonderful",		weight: 9,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "296"}},
            {text: "worth",			weight: 8,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "297"}},
            {text: "wrong",			weight: 8,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "298"}},
            {text: "yummy",			weight: 8,	handlers: { click: function () { $(this).toggleClass('highlight');} }, html: {value: "299"}},

        ];

        $(function () {
            $("#cloud").jQCloud(word_array, {removeOverflowing: false});
        });

        var request = $.ajax({
            url: "script.php",
            type: "POST",
            data: {id: menuId},
            dataType: "html"
        });

    </script>
    <script src="{% static 'site/js/wordcloud.js' %}"></script>
{% endblock scripts %}
